<div class="content-page">
    <div class="content">
        
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item" *ngIf="isIngnieur()"><a routerLink="/home/listeficheIng" >List of Intervention cards </a></li>
                            <li class="breadcrumb-item"  *ngIf="isAdmin()"><a routerLink="/home/listefiche">List of Intervention cards </a></li>

                            <li class="breadcrumb-item active">Intervention card</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Detail of Intervention form</h4>
                </div>
            </div>
        </div>
        <!-- end page title --> 

        <div class="row"  id="htmlData">
            <div>
                <div class="card">
                    <div class="card-body">

                        <!-- Invoice Logo-->
                        <div class="clearfix">
                            <div class="float-start mb-3">
                                <img src="assets/images/TASnew.png" alt="" height="90">
                            </div>
                            <div class="text-center">
                                <h4 class="m-0 d-print-none font-20"><u> MISSION ORDER/INTERVENTION SHEET</u></h4>
                            </div>
                            <div class="row">
                            
                                <div class="col-sm-4 offset-sm-2">
                                    <div class="mt-3 float-sm-end">
                                        <p class="font-16"><strong>BL N: </strong> {{fiche.id}}</p>
                                     
                                    </div>
                                </div><!-- end col -->
                            </div>
                        </div>

                        <!-- Invoice Detail-->
                     
                        <!-- end row -->
                       
                        <div class="row mt-13">
                            <div class="col-sm-10 offset-sm-2">
                                <div class="mt-3 ">
                            <div class="col-sm-13">
                                <p class="font-16"><strong> Intervention Date: &nbsp;</strong>&nbsp;&nbsp; {{fiche.debut | date : 'dd/MM/yyyy'}}&nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong>At: &nbsp;</strong>{{fiche.debut | date : 'HH:MM'}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong>To:&nbsp; </strong>  {{fiche.fin | date : 'HH:MM'}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                                
                             
                                   
                               
                            </div> <!-- end col-->
                        
                            <div class="col-sm-18">
                                <p class="font-16"><strong>Engineer: &nbsp;</strong>&nbsp;&nbsp;  {{fiche.tache.ing.firstName}}  {{fiche.tache.ing.lastName}}&nbsp;&nbsp;&nbsp;
                                    <strong> Vis-a-vis at Client:&nbsp; </strong>&nbsp;&nbsp;&nbsp;&nbsp;{{fiche.tache.client1.firstName}}  {{fiche.tache.client1.lastName}}
                                </p>
                                
                                 
                                   
                               
                            </div> <!-- end col-->
                            <br>
                            <br>
                            
</div></div>
                          
                        </div>    
                        <!-- end row -->        
                        <br>
                        <br>
                        <div class="col-lg-12">
                          
                            <p><b ><strong> <u>Task name : </u></strong></b></p>
                        
                            <p class="text-muted font-14"> {{fiche.tache.nom}}</p>
                      

                    </div><!-- end col -->
                 
                    <br>
                    <br>
                        <div class="col-lg-12">
                          
                                <p><b ><strong> <u>Accomplished tasks : </u></strong></b></p>
                            
                                <p class="text-muted font-14"> {{fiche.description}}</p>
                          

                        </div><!-- end col -->
                     
                        <br>
                        <br>

                       
                        <div class="col-lg-12">
                           
                                <h6 class="text-muted">Notes:</h6>
                                <small>
                                    This intervention form is the subject of a delivery note. Your invoice will be sent to you later.                                </small>
                          
                        </div> <!-- end col -->
                         <br>
                         <br>
                        <div class="d-flex flex-center flex-wrap mb-5">
                            <div class="container">
                                <div class="row">
                                  <div class="col-sm-4">
                                      <div class="text-xs-center">
                                                              <p style="text-align: center "><strong>Signature and Customer Stamp</strong></p>
                                                            
                                                              <div class="control-group border border-gray-300 border-dashed rounded min-w-80px py-3 px-4 mx-2 mb-3"></div>

                                                          </div>
                                  </div>
                                  <div class="col-sm-4">
                                      <div class="text-xs-center">
                                                              <p style="text-align: center "><strong>Followed by</strong> </p>
                                                           
                                                              <div class="control-group border border-gray-300 border-dashed rounded min-w-80px py-3 px-6 mx-10 mb-6"></div>

                                                          </div>
                                  </div>
                                  <div class="col-sm-4">
                                     <div class="text-xs-center">
                                                              <p style="text-align: center "> <strong>Engineer Signature </strong></p>
                                                            
                                                              <div class="control-group border border-gray-300 border-dashed rounded min-w-80px py-3 px-4 mx-2 mb-3"></div>
                                                            </div>
                                  </div>
                                </div>
                              </div>




                            <!-- <div class="p-3">
                              -->
                             <!-- <a class="flex justify-center items-center py-3 border-2 border-gray-200 border-dashed hover:border-gray-500 rounded text-sm text-gray-300 hover:text-gray-500" href="#" data-path="0.0.0.1.4.0">
                                 
                                    <span class="mr-2" data-path="0.0.0.1.4.0.0">
                                      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-20-10" data-path="0.0.0.1.4.0.0.0">
                                        <path d="M10.6667 5.33335H6.66675V1.33335C6.66675 1.15654 6.59651 0.986974 6.47149 0.861949C6.34646 0.736925 6.17689 0.666687 6.00008 0.666687C5.82327 0.666687 5.6537 0.736925 5.52868 0.861949C5.40365 0.986974 5.33341 1.15654 5.33341 1.33335V5.33335H1.33341C1.1566 5.33335 0.987035 5.40359 0.86201 5.52862C0.736986 5.65364 0.666748 5.82321 0.666748 6.00002C0.666748 6.17683 0.736986 6.3464 0.86201 6.47142C0.987035 6.59645 1.1566 6.66669 1.33341 6.66669H5.33341V10.6667C5.33341 10.8435 5.40365 11.0131 5.52868 11.1381C5.6537 11.2631 5.82327 11.3334 6.00008 11.3334C6.17689 11.3334 6.34646 11.2631 6.47149 11.1381C6.59651 11.0131 6.66675 10.8435 6.66675 10.6667V6.66669H10.6667C10.8436 6.66669 11.0131 6.59645 11.1382 6.47142C11.2632 6.3464 11.3334 6.17683 11.3334 6.00002C11.3334 5.82321 11.2632 5.65364 11.1382 5.52862C11.0131 5.40359 10.8436 5.33335 10.6667 5.33335Z" fill="currentColor" data-path="0.0.0.1.4.0.0.0.0"></path>
                                      </svg>
                                    </span>
                                    <span data-config-id="primary-action2" data-path="0.0.0.1.4.0.1">Add New Task</span>
                                  </a>
                            <div class="border border-gray-300 border-dashed rounded min-w-150px py-4  mx-5 px-4 mb-1">
                                
                            </div> -->
                            <!-- </div> -->
                            <!-- <div class="text-xs-center">
                                <p>Authorized person</p>
                                <br>
                                <a class="flex justify-center items-center py-3 border-2 border-gray-200 border-dashed hover:border-gray-500 rounded text-sm text-gray-300 hover:text-gray-500" href="#" data-path="0.0.0.1.4.0">
                                 
                                    <span class="mr-2" data-path="0.0.0.1.4.0.0">
                                      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-20-10" data-path="0.0.0.1.4.0.0.0">
                                        <path d="M10.6667 5.33335H6.66675V1.33335C6.66675 1.15654 6.59651 0.986974 6.47149 0.861949C6.34646 0.736925 6.17689 0.666687 6.00008 0.666687C5.82327 0.666687 5.6537 0.736925 5.52868 0.861949C5.40365 0.986974 5.33341 1.15654 5.33341 1.33335V5.33335H1.33341C1.1566 5.33335 0.987035 5.40359 0.86201 5.52862C0.736986 5.65364 0.666748 5.82321 0.666748 6.00002C0.666748 6.17683 0.736986 6.3464 0.86201 6.47142C0.987035 6.59645 1.1566 6.66669 1.33341 6.66669H5.33341V10.6667C5.33341 10.8435 5.40365 11.0131 5.52868 11.1381C5.6537 11.2631 5.82327 11.3334 6.00008 11.3334C6.17689 11.3334 6.34646 11.2631 6.47149 11.1381C6.59651 11.0131 6.66675 10.8435 6.66675 10.6667V6.66669H10.6667C10.8436 6.66669 11.0131 6.59645 11.1382 6.47142C11.2632 6.3464 11.3334 6.17683 11.3334 6.00002C11.3334 5.82321 11.2632 5.65364 11.1382 5.52862C11.0131 5.40359 10.8436 5.33335 10.6667 5.33335Z" fill="currentColor" data-path="0.0.0.1.4.0.0.0.0"></path>
                                      </svg>
                                    </span>
                                    <span data-config-id="primary-action2" data-path="0.0.0.1.4.0.1">Add New Task</span>
                                  </a>
                            </div>
                            <div class="text-xs-center">
                                <p>Authorized person</p>
                                <br>
                                <a class="flex justify-center items-center py-3 border-2 border-gray-200 border-dashed hover:border-gray-500 rounded text-sm text-gray-300 hover:text-gray-500" href="#" data-path="0.0.0.1.4.0">
                                 
                                    <span class="mr-2" data-path="0.0.0.1.4.0.0">
                                      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-20-10" data-path="0.0.0.1.4.0.0.0">
                                        <path d="M10.6667 5.33335H6.66675V1.33335C6.66675 1.15654 6.59651 0.986974 6.47149 0.861949C6.34646 0.736925 6.17689 0.666687 6.00008 0.666687C5.82327 0.666687 5.6537 0.736925 5.52868 0.861949C5.40365 0.986974 5.33341 1.15654 5.33341 1.33335V5.33335H1.33341C1.1566 5.33335 0.987035 5.40359 0.86201 5.52862C0.736986 5.65364 0.666748 5.82321 0.666748 6.00002C0.666748 6.17683 0.736986 6.3464 0.86201 6.47142C0.987035 6.59645 1.1566 6.66669 1.33341 6.66669H5.33341V10.6667C5.33341 10.8435 5.40365 11.0131 5.52868 11.1381C5.6537 11.2631 5.82327 11.3334 6.00008 11.3334C6.17689 11.3334 6.34646 11.2631 6.47149 11.1381C6.59651 11.0131 6.66675 10.8435 6.66675 10.6667V6.66669H10.6667C10.8436 6.66669 11.0131 6.59645 11.1382 6.47142C11.2632 6.3464 11.3334 6.17683 11.3334 6.00002C11.3334 5.82321 11.2632 5.65364 11.1382 5.52862C11.0131 5.40359 10.8436 5.33335 10.6667 5.33335Z" fill="currentColor" data-path="0.0.0.1.4.0.0.0.0"></path>
                                      </svg>
                                    </span>
                                    <span data-config-id="primary-action2" data-path="0.0.0.1.4.0.1">Add New Task</span>
                                  </a>
                            </div>
                            <div class="text-xs-center">
                                <p>Authorized person</p>
                                <br>
                                <a class="flex justify-center items-center py-3 border-2 border-gray-200 border-dashed hover:border-gray-500 rounded text-sm text-gray-300 hover:text-gray-500" href="#" data-path="0.0.0.1.4.0">
                                 
                                    <span class="mr-2" data-path="0.0.0.1.4.0.0">
                                      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-20-10" data-path="0.0.0.1.4.0.0.0">
                                        <path d="M10.6667 5.33335H6.66675V1.33335C6.66675 1.15654 6.59651 0.986974 6.47149 0.861949C6.34646 0.736925 6.17689 0.666687 6.00008 0.666687C5.82327 0.666687 5.6537 0.736925 5.52868 0.861949C5.40365 0.986974 5.33341 1.15654 5.33341 1.33335V5.33335H1.33341C1.1566 5.33335 0.987035 5.40359 0.86201 5.52862C0.736986 5.65364 0.666748 5.82321 0.666748 6.00002C0.666748 6.17683 0.736986 6.3464 0.86201 6.47142C0.987035 6.59645 1.1566 6.66669 1.33341 6.66669H5.33341V10.6667C5.33341 10.8435 5.40365 11.0131 5.52868 11.1381C5.6537 11.2631 5.82327 11.3334 6.00008 11.3334C6.17689 11.3334 6.34646 11.2631 6.47149 11.1381C6.59651 11.0131 6.66675 10.8435 6.66675 10.6667V6.66669H10.6667C10.8436 6.66669 11.0131 6.59645 11.1382 6.47142C11.2632 6.3464 11.3334 6.17683 11.3334 6.00002C11.3334 5.82321 11.2632 5.65364 11.1382 5.52862C11.0131 5.40359 10.8436 5.33335 10.6667 5.33335Z" fill="currentColor" data-path="0.0.0.1.4.0.0.0.0"></path>
                                      </svg>
                                    </span>
                                    <span data-config-id="primary-action2" data-path="0.0.0.1.4.0.1">Add New Task</span>
                                  </a>
                            </div> -->
                            <!--begin::Stats-->
                           
                            <!-- <div class="border border-gray-300 border-dashed rounded min-w-150px py-4  mx-5 px-4 mb-1">
                                
                            </div> -->
                            <!--end::Stats-->
                            <!--begin::Stats-->
                            <!-- <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 mx-3 px-4 mb-3">
                                
                            </div>
                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 mx-3 px-4 mb-3">
                               
                            </div> -->
                            <!--end::Stats-->
                        </div>
                        <br >
                        <footer class="footer">
                           2nd Floor, 11;Rue Al Moumen Ibn Ati,1002 Tunis <br>
                            Tel: 98 704 198&nbsp;-&nbsp; 50 607 100 &nbsp;&nbsp;            Email: <u>direction@tastunisia.com</u> -<u>maher.bahri@tastunisia.com</u> &nbsp;&nbsp;
                             Site: <u> www.TASTunisia.com</u>
                        </footer>
                    </div> <!-- end card-body-->
                    
                </div> <!-- end card -->
              
            </div> <!-- end col-->
        </div>
        <div class="d-print-none mt-4">
            <div class="text-end">
                <a href="javascript:window.print()" class="btn btn-primary" (click)="openPDF()"><i class="mdi mdi-printer" ></i> Print</a>
              
            </div>
        </div>  
        <!-- end row -->
        
    </div> <!-- End Content -->

    
</div>
